[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodule/AlphaCLIP"]
	path = submodule/AlphaCLIP
	url = https://github.com/SunzeY/AlphaCLIP.git
[submodule "submodule/tokenize_anything"]
	path = submodule/tokenize_anything
	url = https://github.com/Youlixiya/tokenize-anything
