[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "Tracking-Anything-with-DEVA"]
	path = Tracking-Anything-with-DEVA
	url = https://github.com/hkchengrex/Tracking-Anything-with-DEVA.git
[submodule "Tracking-Anything-with-DEVA"]
	path = AlphaCLIP
	url = https://github.com/SunzeY/AlphaCLIP.git
