*.pyc
.vscode
data
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.ipynb
submodules/diff_rasterization/diff_rasterization.egg-info
submodules/simple-knn/simple-knn.egg-info
node_modules
extern
package-lock.json
package.json
Grounded_SAM/build
Grounded_SAM/weights
Grounded-SAM/ground_sam.egg-info
Grounded-SAM/GroundingDINO/build
Grounded-SAM/GroundingDINO/groundingdino.egg-info
Grounded-SAM/segment_anything/build
Grounded-SAM/segment_anything/groundingdino.egg-info
